@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: font2;
  src: url("../fonts/YsabeauOffice-Medium.ttf");
}
h1,a{
  font-weight: 10;
  font-family: Montserrat;
}
